[[define "title"]]Open OCR Reader[[end]]


[[define "body"]]
<div id="nonJavascriptContent" style="display:block">
<h1>You need javascript to view this page</h1>
</div>

<div id="javascriptContent" style="display:none">
<h1>Click on the page to upload or capture an image</h1>

<form id="image-form" enctype="multipart/form-data" action="/upload" method="POST">
<label for="image-upload" class="image-upload-btn">
</label>
<input id="image-upload" name="image-file" type="file" accept="image/*" capture>

</form>
</div>





<div id="desktop_canvas">
    <div class="camera_buttons">
        <button id="click-photo">Click Photo</button>
      </div>
    <video id="video" width="320" height="240" autoplay></video>
    <br>
    <canvas id="canvas" width="1200" height="1200"></canvas>

    <form id="desktop_from" class="desktop_from" method="post" action="/upload" >
        <input type="text" id="filename" name="filename" /> <!-- Filename -->
        <input type="submit" id="submitButton" name="submitButton" /> <!-- Submit -->
    </form>
</div>

[[ end ]]

[[define "page_javascript"]]
<script src="/static/home.js"></script>
[[ end ]]

[[define "page_css"]]
<link rel="stylesheet" href="/static/home.css">
[[ end ]]
