[[define "main_layout"]]
<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>[[template "title" .]]</title>
  </head>
  <body class="d-flex flex-column h-100">
    <!-- Begin page content -->
    <main role="main" class="flex-shrink-0">
      <div class="container">
        [[template "body" .]]
      </div>
    </main>
  </body>

  [[template "page_javascript" .]]
</html>
[[end]]
